body {
	background-color: #AAAAAA;
	padding: 0;
	margin: 0;
}
header {
	background-color: #EEEEEE;
	width: 100%;
	margin: 0 0 50px 0;
	padding: 20px;
}
main {
	width: 21cm;
	min-height: 29.7cm;
	padding: 2cm;
	margin: 1cm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
footer {
	background-color: #EEEEEE;
	width: 150px;
	margin-right: 0;
	margin-left: auto;
	padding: 20px;
}
section > ul > li {
	margin: 5px;
	font-weight: bold;
}
ul > li > ul > li, ul > li > ul > li > * {
	font-weight: normal;
}
li > small {
	display: block;
	text-indent: 20px;
	margin: 5px;
	font-weight: normal;
	/* text-decoration: none !important; */
	/* text-decoration-color: rgba(0,0,0,0) !important; */
	/* text-decoration-thickness: 0 !important; */
	/* text-decoration-line: none !important; */
}
.underlined {
	text-decoration: underline;
}
@keyframes rainbow {
	0% {
		background-color: #FF0000;
		color: #00FFFF;
		transform: rotateX(0deg);
	}
	16.66% {
		background-color: #FFFF00;
		color: #0000FF;
	}
	33.33% {
		background-color: #00FF00;
		color: #FF00FF;
	}
	50% {
		background-color: #00FFFF;
		color: #FF0000;
	}
	66.66% {
		background-color: #0000FF;
		color: #FFFF00;
	}
	75% {
		background-color: #FF00FF;
		color: #00FF00;
	}
	100% {
		background-color: #FFFFFF;
		color: #000000;
		transform: rotateX(360deg);
	}
}
#css-test {
	display: inline-block;
	text-align: center;
	padding: 10px;
	width: 100%;
	animation: rainbow 3s linear infinite alternate;
}
