section > ul > li {
  margin: 5px;
  font-weight: bold;
  text-decoration: underline;
}
ul > li > ul > li, ul > li > ul > li > * {
  font-weight: normal;
}
li > small {
  display: block;
  text-indent: 20px;
  margin: 5px;
  font-weight: normal;
  text-decoration: none !important;
  text-decoration-color: rgba(0,0,0,0) !important;
  text-decoration-thickness: 0 !important;
  text-decoration-line: none !important;
}